.errors{
    text-align: center;
     height: 3rem
}

.signup{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup h1{
    color: blue;
}

.signup input{ 
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color: black;
  }

  .signup input:focus{ 
    border:none;	
    outline:none;
    border-bottom:1px solid #e74c3c;	
   }



   .btn{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	margin-left: 3rem;
}

.link-login{
    text-decoration: none;
    text-transform:uppercase;
}